input {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border-style: none;
    padding: 4px 16px 4px 16px;
    background-color: #f4f5f7;
    font-size: 0.9em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("/static/font/OpenSans-Light.ttf"), format("truetype");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
    height: 98%;
}

body {
    font-family: "Lucida Sans Unicode", "Open Sans", "Lucida Grande", sans-serif;
    margin: 0 0 0 0;

    display: flex;
    flex-direction: column;
    height: 98%;
          
}

header {
    flex: 0 0 auto;
}

table {
    font-size: 0.8em;
}

#cont {
   flex: 1 0 auto;
}
footer {
    display: block;
    min-width: 800px;
    line-height: 25px;
    font-size: 0.7em;
    vertical-align: middle;
    color: #707070;
    text-align: center;
   
    margin-right: auto;
    margin-left: auto;
    width: 100%;

    clear: both;

    /* height: 25px; */
    
    /* height: 2%; */
    padding-bottom: 16px;
    flex: 0 0 auto;

}

/* ####################-MENU-######################*/

nav{
    max-width: 800px;
    min-width: 400px;
    height: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    line-height: 40px;
}
nav ul{
    list-style: none;
    position: relative;
    float: right;
    padding: 0px;
    margin-top: 0px;
    display: inline-table;
}
nav ul li{
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav ul li:hover{
    color: #6bc7ef;
    background: rgba(0,0,0,.15);
}

nav ul li:hover > ul{
    display: block;}
nav ul li{
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
nav ul li a{
    display: block;
    padding: 0px 20px;
    color: #222;
    font-size: .7em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul ul{
    display: none;
    background: #fff;
    position: absolute;
    top: 100%;
    /* box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1); */
    border: 1px solid rgba(0,0,0,.1);
}
nav ul ul li{float: none; position: relative;}
nav ul ul li a {
    padding: 0px 0p 0px 0px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
nav ul ul ul {
    position: absolute;
    left: 100%;
    top:0;
}

/* ####################-MENU-######################*/


.error {
    font-size: 0.7em;
    color: red;
}

.addT {
    cursor: pointer;
    align: center;
    color: #6bc7ef;
    font-size: 0.9em;
    
}

.deleteT {
    cursor:pointer;
    color: #6bc7ef;
    font-size: 0.7em;
}


#body {
    display: block;
    max-width: 800px;
    min-width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 3em;

    /*padding-bottom: 100%*//*
    position: relative;
    min-height: 100%;*/
}

/* #footer { */
/*     display: block; */
/*     min-width: 800px; */
/*     height: 25px; */
/*     line-height: 25px; */
/*     font-size: 0.7em; */
/*     vertical-align: middle; */
   
/*     margin-right: auto; */
/*     margin-left: auto; */
/*     color: #707070; */
/*     text-align: center; */
/* } */

#login {
    color: white;
    font-size: 0.8em;
    padding: 4px 10px 4px 10px;
    cursor:pointer;
    background-color: #666666;
    float: right;
    border: none;
    line-height: 20px;
    vertical-align: middle;
}

#login:hover {
    background-color: #C9C9C9;
    color: black;
}

.change {
    color: white;
    font-size: 0.8em;
    height: 25px;
    background-color: #666666;
    border: none;
    line-height: 25px;
    vertical-align: middle;
}

.change:hover {
    color: black;
    background-color: #C9C9C9;
}

#links {
    display: block;
    /*color: white;*/
    width: 604px;
    height: 800px;
    overflow: auto;
    padding: 0px;
    /*background-color: #666666;*/
}

.link {
    color: white;
    display: inline-block;
    width: 540px;
    padding-left: 4px;
    /*margin-left: 4px;*/
    margin-top: 4px;
    /*padding-left: 4px;*/
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-color: #666666;
    /*color: #C9C9C9;*/

}

.link:hover {
    background-color: #C9C9C9;
    color: black;
}

.edit {
    margin-top: 4px;
    display: block;
    width: 30px;
    height: 30px;
    float: right;
    color: #C9C9C9;
    background: #666666;
    border: none;
}

.edit:hover {
    background: orange;
    cursor: pointer;
    color: #666666;
}

.remove {
    margin-top: 4px;
    display: block;
    width: 30px;
    height: 30px;
    color: #C9C9C9;
    float: right;
    background: #666666;
 
    border: none;
}

.remove:hover {
    background: red;
    color: #666666;
    cursor: pointer;
}

#add {
    color: white;
    font-size: 0.8em;
    height: 25px;
    width: 60px;
    background-color: #666666;
    float: right;
    border: none;
    line-height: 25px;
    vertical-align: middle;
/*    padding-right: 0px;
    padding-left: 0px;*/
}
#add:hover {
    background-color: #C9C9C9;
    color: black;
}

#addLink {
    line-height: 18px;
}

.light {
    padding-bottom: 3em;
    background-color: #ffffff;
    width: 100%;
}

.dark_foot {
    margin-top: 50px;
    margin-bottom: 32px;
    width: 100%;
    clear: both;
    height: 25px;
}

a.head:link {
    color: #6bc7ef;
    text-decoration: none;
}

a.head:visited {
    color: #6bc7ef;
    text-decoration: none;
}
a.head:hover {
    color: #C9C9C9;
    text-decoration: none;
}
a.head:active {
    color: #A6A6A6;
    text-decoration: none;
}

#body a:link {
    color: #666666;
    text-decoration: none;

}

#body a:hover {
    color: #A6A6A6;
}

.head {
    padding-right: 16px;
    padding-left: 16px;
}

.small {
    font-size: 0.7em;
}
