<div class="main light" >
  <div id="body" >
    
    <p style="color: red" class="error">{{error.error}}</p>


<table width="100%" cellpadding="10">
  <tr>
      <form novalidate class="simple-form">
        <td>
          <input id="linkField" type="text"
                 style="display:table-cell; width:96%;"
                 placeholder="Link"
                 ng-model="link"
                 onClick="this.select();"
                 onkeydown="if (event.keyCode == 13)
                                document.getElementById('addLink').click()" />
        </td>
        <td>
          <img ng-show="dataLoading" width="28" height="28" src="/static/img/loader.gif"/>
          <span id="addLink"
                class="addT"
                ng-click="add(link)"
                ng-show="!dataLoading">add</span>
        </td>
      </form>
      </tr>

  <tr ng-repeat="link in links" class="col-md-6"
      >
      <td>
          <a style="display:block;" target="_blank" href="{{ link.link }}">
          <img align="top" ng-src="{{ link.favicon }}" width="16" height="16" />
          {{ link.title }}
          </a>
      </td>
      <td>
        <span class="deleteT" ng-click="del($index)">delete</span>
      </td>
      
    </tr>
    </table>
<div style="padding-top:16px;">
  <span id="addLink"
          class="addT"
          ng-click="prev()"
          ng-show="isPrev">prev page</span>
  <span id="addLink"
        style="float: right;"
          class="addT"
          ng-click="next()"
          ng-show="isNext">next page</span>
</div>
    </div>
</div>
