<%@ page import="java.util.List" %>
<!DOCTYPE html>
<html>
<head>
    <%--<link type="text/css" rel="stylesheet" href="stylesheet.css"/>--%>
    <title>My Page</title>
        <style>
            <%@include file="/stylesheet.css" %>
        </style>
</head>
<body>

<div class="dark">
    <div id="header">
        <a class="head" href="/index"><img src="img/l.png" id="logo" align="center" /></a>
        <a class="head" href="/page">MyPage</a>
        <a class="head" href="/settings">Settings</a>
        <a class="head" href="/contacts">Contacts</a>
        <a class="head" href="/logout">Log<% if (request.getSession().getAttribute("user") != null) out.print("Out"); else out.print("In"); %></a>
    </div>
</div>
<div class="light">
    <div id="body">
        <h1>Welcome ${user.nick}</h1>
        <form method="post" action="/addNewLink" >
            <input id="addLink" size="85%" size="74" type="text" name="url" value="" placeholder="Your link">
           <input type="submit" id="add" value="Add">
        </form>
            <div id="links">

                <%
                    List<String> list = (List) request.getAttribute("links");
                    for (int i = 0; i < list.size(); i++) {
                %>
                <a href="<%= list.get(i)%>" target="_blank">
                <div class="link">
                    <%= list.get(i)%>
                </div></a>
                <button type="button" class="remove"><img src="img/x.png" /></button>
                <button type="button" class="edit"><img src="img/pen.png" /></button>

                <%
                    }
                %>

                
            </div>


    </div>
</div>
<div class="dark_foot">
    <div id="footer">
        2014
    </div>
</div>

</body>
</html>