<!DOCTYPE html>
<html ng-app="linksave">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="/static/css/linkstyle.css" />
    <link rel="stylesheet" href="/static/css/toastr.css"/>
    <title>Linksave</title>

</head>
  <body>


<!-- <div class="dark"> -->
<!--   <div id="header"> -->
<header>
    <nav role='navigation'>
      <ul>
        <li><a href="#/">Linksave</a></li>
        <li><a href="#/about">About</a></li>
        <li><a href="#/contact">Contact</a></li>
        <li ng-show="$root.isLogin == 'Login'"><a href="#/login">Login</a></li>
        <li ng-show="$root.isLogin != 'Login'"><a style="color: #6bc7ef" href="">{{ $root.isLogin }}</a>
          <ul>
            <li><a href="#/settings">Settings</a></li>
            <li><a href="#/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
      </nav>  
</header>

<!--       <a class="head" href="#/">Linksave</a> -->
<!--         <\!-- <a class="head" href="#/settings">settings</a> -\-> -->

<!--         <a style="float:right; padding-right: 10px" ng-init="$root.isLogin='Login'" class="head" href="#/logout">{{ $root.isLogin }}</a> -->
<!-- <hr></hr> -->
        
<!--     </div> -->
<!-- </div> -->



<section id="cont" ng-view></section>



<!-- <div class="dark_foot"> -->
<!--     <div id="footer"> -->
<!--     </div> -->
<!-- </div> -->

<footer>
        Linksave | 2016
</footer>



<script src="/static/js/jquery-1.9.1.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/angular.js"></script>
<script src="/static/js/angular-resource.js"></script>
<script src="/static/js/angular-cookies.js"></script>
<script src="/static/js/angular-cookies.min.js"></script>
<script src="/static/js/toastr.js"></script>

<!-- Modules -->
<script src="/static/js/app.js"></script>

</body>
</html>
